{%load static%}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel='stylesheet' href="{% static "js/fullcalendar-3.9.0/fullcalendar.css"%}"/>
    <script src="{% static "js/fullcalendar-3.9.0/lib/jquery.min.js"%}"></script>
    <script src="{% static "js/fullcalendar-3.9.0/lib/moment.min.js"%}"></script>
    <script src="{% static "js/fullcalendar-3.9.0/fullcalendar.js"%}"></script>
    <script src="{% static "js/fullcalendar-3.9.0/locale/ja.js"%}"></script>

    <title>{% block title%}{% endblock%}</title>
</head>
<body>
    <nav><a href="#">image</a> 
    <ul>
    {% if user.is_authenticated %}
        <li>Logout</li>
    {% else %}
        <li><a href="#">Login</a></li>
        <li><a href="#">Sign up</a></li>
    {%endif%}
    </ul></nav>

    <main>
        {%block content%}

        {%endblock%}
    </main>
</body>
</html>